__pycache__
*.pyc
*.pth
*.pt
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.webp
*.ico
*.heic

Models/checkpoints/*
Models/logs/*

uv.lock

.venv

Data/*

.ipynb_checkpoints/*

styletts2.egg-info/*

Models/celeba/*